
.homelayout {
	width: auto;
}
.homelist {
	border-radius: 10px;
	background-color: #f1f1f1;
	padding: 10px 0px 0px;
	border:1px #CCC solid;
}
.clist li {
	float: left;
	width: 110px;
	margin-left: 10px;
	margin-bottom:10px;
}
.clist li a, .clist li a:visited {
	display: block;
	background-color: #fff;
	border: 1px #eee solid;
	border-radius: 10px;
	font-weight: bold;
	font-size: 14px;
	color: #000;
}
.clist li a:hover {
	background-color: #fff5f5;
	border: 1px #ddd solid;
}
.clist li a span {
	display: block;
	text-align: center;
	padding-bottom: 10px;
}
.homebox {
	margin-top:10px;
	border-radius: 8px;
	border: 1px #CCC solid;
	background-color: #f9f9f9;
	text-align: left;
}

.hometitle {
	background-color: #f0f0f0;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	padding: 10px;
	border-bottom: 3px #d70002 solid;
	padding-left: 40px;
	background-position: 10px center;
	background-repeat: no-repeat;
	font-family: 微软雅黑;
	height: 20px;
	color: #333;
}
.hometitle a, .hometitle a:visited {
	float:right;
	color: #fff;
	border-radius: 5px;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #d70002;
	font-weight: normal;
	font-size: 10px!important;
	font-family: 微软雅黑;
}

#tips {
	background-image: url('/images/common/iconb.png');
}

ul.tipslist {
    width:auto;
	margin-top:5px;
}
ul.tipslist li {
	height:25px;
	line-height:25px;
	background-image: url('/images/common/point.jpg');
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 25px;
	box-sizing: border-box;
}
ul.tipslist li a {
	font-weight: bold;
	display: block;
	color:#036;
}
ul.tipslist li em {
	float:right;
	margin-right:10px;
	color: #666;
}


